<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcy.logservice.mapper.SysLogMapper">

    <insert id="save" parameterType="com.fcy.logservice.entity.SysLog">
        insert into t_sys_log(sys_userid, sys_truename, oper_time, oper_type, oper_table, operation)
        values(#{sysUserId}, #{sysTrueName}, #{opertime},
               #{opertype, typeHandler=com.fcy.logservice.mapper.typehandle.OperationEnumTypeHandle}, #{opertable}, #{operation})
    </insert>
</mapper>