<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcy.scoreservice.mapper.LogMapper">

    <resultMap id="SysLogResultMap" type="com.fcy.scoreservice.entity.SysLog">
        <result column="sys_id" jdbcType="VARCHAR" property="logId"></result>
        <result column="sys_userid" jdbcType="VARCHAR" property="sysUserId"></result>
        <result column="sys_truename" jdbcType="VARCHAR" property="sysTrueName"></result>
        <result column="oper_time" jdbcType="TIMESTAMP" property="opertime"></result>
        <result column="oper_type" jdbcType="VARCHAR" property="type"></result>
        <result column="oper_table" jdbcType="VARCHAR" property="opertable"></result>
        <result column="operation" jdbcType="VARCHAR" property="operation"></result>
    </resultMap>

    <select id="getSysLog" resultMap="SysLogResultMap">
        select * from t_sys_log where 1 = 1
        <if test="type != null and type != ''">
            and oper_type = #{type}
        </if>
    </select>

    <resultMap id="SysErrLogResultMap" type="com.fcy.scoreservice.entity.SysErrorLog">
        <result column="sys_id" jdbcType="INTEGER" property="logId"></result>
        <result column="sys_userid" jdbcType="VARCHAR" property="sysUserId"></result>
        <result column="sys_truename" jdbcType="VARCHAR" property="sysTrueName"></result>
        <result column="oper_time" jdbcType="TIMESTAMP" property="opertime"></result>
        <result column="message" jdbcType="LONGVARCHAR" property="message"></result>
    </resultMap>

    <select id="getSysErrLog" resultMap="SysErrLogResultMap">
        select * from t_sys_err_log
    </select>
</mapper>